h1{
    font-size: 35px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
 }
par {
    padding: 50px;
    width: 100%;
  }
h4{
    text-decoration: underline;
}
h5{
    margin: auto;
    float: right;
}
ia{
    font-size: 22px;
}
ii{
    font-size: 15px;
}
span.a{
    font-weight: bold;
    color: #08176c;
}
